POSTGRESQL_HOST=723405ad4c98e35e6badc757.twc1.net
POSTGRESQL_PORT=5432
POSTGRESQL_USER=gen_user
POSTGRESQL_PASSWORD=Kpb>,K!JdYOh9M
POSTGRESQL_DBNAME=default_db
BOT_TOKEN=8395084740:AAEhO6ThMXUNnx7LqbszCDfjOIL03N6VIo4
API_DEEPSEEK=sk-5af24aa74e9c497bb5afdee3043a945b
CLIENT_URL='http://localhost:5173/'

