BOT_TOKEN=8395084740:AAEhO6ThMXUNnx7LqbszCDfjOIL03N6VIo4
POSTGRESQL_HOST=723405ad4c98e35e6badc757.twc1.net
POSTGRESQL_PORT=5432
POSTGRESQL_USER=gen_user
POSTGRESQL_PASSWORD=Kpb>,K!JdYOh9M
POSTGRESQL_DBNAME=default_db