BOT_TOKEN=8395084740:AAEhO6ThMXUNnx7LqbszCDfjOIL03N6VIo4
SUPABASE_URL=https://blbqecwwvynpypmezlqo.supabase.com
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJsYnFlY3d3dnlucHlwbWV6bHFvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjExNDY0MjAsImV4cCI6MjA3NjcyMjQyMH0.eGOfVGHpsLl0xe5mLqk62e549frD4L2lLGHC048-lhQ
POSTGRESQL_HOST=723405ad4c98e35e6badc757.twc1.net
POSTGRESQL_PORT=5432
POSTGRESQL_USER=gen_user
POSTGRESQL_PASSWORD=Kpb>,K!JdYOh9M
POSTGRESQL_DBNAME=default_db